<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5442/dbpractice</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.generate_statistics">false</property>

        <mapping class="ru.zakharenko.dbpractice.domain.Investor"/>
        <mapping class="ru.zakharenko.dbpractice.domain.Security"/>
        <mapping class="ru.zakharenko.dbpractice.domain.Position"/>
        <mapping class="ru.zakharenko.dbpractice.domain.TransactionSecurity"/>
        <mapping class="ru.zakharenko.dbpractice.domain.Portfolio"/>
    </session-factory>
</hibernate-configuration>